<header>
	<div class="header_wrapper">
		<div class="logo">
			<p><%= link_to 'Petsonix Organic Food', root_path %></p>
		</div>
		<nav>
			<ul>
				<li><%= link_to 'Search', search_path %></li>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'About', about_path %></li>
				<li><%= link_to 'Ingredients', ingredients_path %></li>
				<li><%= link_to 'Products', products_path %></li>
				<li><%= link_to 'Contact', contact_path %></li>
			</ul>
		</nav>
	</div>
</header>